<div id="section-id-{{ section.id }}" class="fully-spaced-row--medium section-id-{{ section.id }}" data-section-type="custom-liquid">
  <div class="custom-html">
    {{ section.settings.code }}
  </div>
</div>


{% schema %}
  {
    "name": "Custom Liquid",
    "settings": [
      {
        "type": "liquid",
        "id": "code",
        "label": "Custom Liquid"
      }
    ],
    "presets": [
      {
        "name": "Custom Liquid",
        "settings": {
        }
      }
    ]
  }
{% endschema %}
